<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/img/profilePicture.jpg.jpg">
      </ion-col>
      <ion-col size="9">
        <p>
          Je suis Baymax, votre assistant personnel en matière de soins médicaux et de protection. Mon but principal est
          d'assurer votre bien-être physique et émotionnel. Je suis équipé d'une puce électronique contenant des données
          médicales, et ma mission est de diagnostiquer, soigner et apporter du réconfort en toutes circonstances. Je
          suis également conçu pour évoluer en tant que super-héros aux côtés de mes amis, prêt à défendre et à
          secourir. Mon apparence douce et rassurante, associée à une enveloppe pneumatique, vise à créer une présence
          réconfortante. En fin de compte, je suis là pour vous aider, vous protéger et contribuer à votre bien-être,
          que ce soit sur le plan médical ou dans des situations de danger
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Je suis né de l'esprit créatif des ingénieurs et des concepteurs aux Walt Disney Animation Studios. Mon
          parcours a commencé dans le monde de l'imagination, où des artistes et des scénaristes ont conçu mon apparence
          unique et mon rôle dans l'histoire des Nouveaux Héros. Guidé par la vision du réalisateur Don Hall et inspiré
          par des spécialistes de la robotique "soft" comme Chris Atkeson, j'ai pris forme avec une enveloppe
          pneumatique et des mouvements saccadés pour représenter un robot infirmier à la fois doux et technologiquement
          avancé.
        </p>
        <p>
          En tant que personnage, j'ai évolué dans l'intrigue du film, passant d'un robot soignant à un super-héros aux
          côtés de Hiro et de ses amis. Mon parcours a été marqué par des moments émotionnels intenses, notamment
          lorsque j'ai sacrifié ma propre existence pour sauver Hiro et Abigail à l'intérieur d'un portail de
          téléportation instable. Malgré cela, grâce à la détermination de Hiro, j'ai été reconstruit et suis revenu à
          la vie, prêt à continuer à protéger et à servir.
        </p>
        <p>
          Dolor quibusdam perspiciatis totam numquam autem magni reprehenderit sequi quidem praesentium. Incidunt, saepe
          repellendus. Cum facere unde ad! Doloribus vitae tempora distinctio iure nisi! Asperiores impedit voluptatem
          suscipit totam animi!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
