<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="shapes-sharp"></ion-icon>
      <ion-label>Catégories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detection-page">
      <ion-icon name="scan-sharp"></ion-icon>
      <ion-label>Détection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historique">
      <ion-icon name="library-sharp"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
