<ion-header>
  <ion-toolbar>
    <ion-title>Catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    @for(category of categories$ | async; track category) {
    <h3>{{ category.nom_categ }}</h3>
    <ion-grid>
      <ion-row>
        @for(sign of this.signService.getSignsByCategorieId(category.id_categ) |
        async; track sign) {
        <ion-col size="6" size-md="4">
          <ion-card button>
            <ion-card-content>
              <ion-thumbnail>
                <img [src]="sign.image" alt="Icone de signalisation" />
              </ion-thumbnail>
              <p class="ion-text-center">{{ sign.nom }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    }
  </div>
</ion-content>
